node_modules
dist
.expo
app
components
hooks
lib
constants
assets
scripts
tests
*.test.ts
global.css
tailwind.config.js
theme.config.js
theme.config.d.ts
metro.config.js
babel.config.js
app.config.ts
.env.example
README.md
